<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин книг</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' with search_tag='search' active='main'%}
    <div class="container">
        <h2>{% if search_string %}
            Результаты поиска: {{ search_string }}
            {% else %}
            Последние поступления
            {% endif %}
        </h2>
        <div class="card_list row">
            {% for object in object_list %}
                <div class="card col-2" style="width: 18rem;">
                    {% if object.image_field %}
                        <img src="{{ object.image_field.url }}" class="card-img-top" alt="{{ object.name }}">
                    {% else %}
                        <p>Нет фото</p>
                    {% endif %}

                  <div class="card-body">
                      <h5>{{ object.description }}</h5>
                    <p class="card-text">Цена: {{ object.price }}</p>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>