{% extends 'dimension_detail.html' %}
{% load boolparser %}
{% load static %}
{% block title %}
  Книга {{ object.description }}
{% endblock %}

{% block navbar %}
        {% include 'navbar.html' with active="main"%}
    {% endblock %}
{% block page_title %}
        {% endblock %}
{% block dimension %}
    <h1>{{ object.description }}</h1>
    <div class="row">
        <div class="col-4" >
            {% if object.image_field %}
                <img src="{{ object.image_field.url }}" alt="{{ object.description }}" class="img-thumbnail">
            {% else %}
                <img src="{% static 'images/nophoto.png' %}" class="img-thumbnail" alt="Нет фото">
            {% endif %}
        </div>
        <div class="col-8">
            <p><strong>Серия:</strong> {{ object.serie|default_if_none:"Не указана" }}</p>
            <p><strong>Жанры:</strong>
                {% for jenre in object.jenre.all %}
                    {{ jenre.name }}
                {% endfor %}
                </p>
            <p><strong>Год издания:</strong> {{ object.year_publishing }}</p>
            <p><strong>Количество страниц:</strong> {{ object.count_pages }}</p>
            <p><strong>Переплет:</strong> {{ object.binding }}</p>
            <p><strong>Формат:</strong> {{ object.format_book }}</p>
            <p><strong>ISBN:</strong> {{ object.isbn }}</p>
            <p><strong>Вес:</strong> {{ object.weight }} гр</p>
            <p> {{ object.age_restriction }}</p>
            <p><strong>Издательство:</strong> {{ object.publisher }}</p>
            <p><strong>Рейтинг:</strong> {{ object.rate }}</p>
            <p><strong> {{ object.is_active|boolparser }}</strong></p>
            <p><b>Цена: {{ object.price }} руб.</b></p>
        </div>
    </div>
    <button type="button" onclick="history.back()" class="btn btn-info" value="Назад">Назад</button>


{% endblock %}

{% block update %}{% endblock %}
{% block delete %}{% endblock %}
