{% extends 'base.html' %}
    {% block title %}Магазин книг {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% block navbar %}
    {% include 'navbar.html' with search_tag='search' active='main'%}
{% endblock %}
{% block body %}
    <div class="container">
        <h2>{% if search_string %}
            Результаты поиска: {{ search_string }}
            {% else %}
            Последние поступления
            {% endif %}
        </h2>
        <div class="card_list row">
            {% for object in object_list %}
                <div class="card col-6 col-sm-4 col-lg-2">
                    {% if object.image_field %}
                        <img src="{{ object.image_field.url }}" class="card-img-top" alt="{{ object.name }}">
                    {% else %}
                        <p>Нет фото</p>
                    {% endif %}

                  <div class="card-body">
                      <h5>{{ object.description }}</h5>
                    <p class="card-text">Цена: {{ object.price }}</p>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
