{% extends 'base.html' %}
{% block title %}Магазин книг {% endblock %}
{% load static %}
{% block navbar %}
    {% include 'navbar.html' with search_tag='search' active='main'%}
{% endblock %}
{% block body %}
    <div class="container">
        <h2>{% if search_string %}
            Результаты поиска: {{ search_string }}
            {% else %}
            Последние поступления
            {% endif %}
        </h2>
        <div class="row flex-wrap">
            {% for object in object_list %}

                <div class="card col-6 col-sm-4 col-lg-2 justify-content-between pt-1 px-0">

                        <div>
                            {% if object.image_field %}
                                <img src="{{ object.image_field.url }}" class="card-img-top" alt="{{ object.name }}">
                            {% else %}
                                <img src="{% static 'images/nophoto.png' %}" class="card-img-top" alt="Нет фото">
                            {% endif %}
                        </div>
                      <div class="card-body p-0"  >

                      </div>
                    <div class="px-3 pb-2">
                        <a href="{{ object.get_detail_customer_url }}" class="card-text">{{ object.description }}</a>
                    </div>
                    <div class="card-footer text-right ">
                          {% if object.is_active %}
                            <p class="card-text">{{ object.price }} р.</p>
                          {% else %}
                            <p class="card-text">Скоро в продаже</p>
                          {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock body %}
