{% extends 'base.html' %}
{% load static %}
{% block title %}Жанры {% endblock %}

{% block navbar %}
    {# Навигационная панель в зависимости от пользователя #}
    {% include 'navbar.html' with active="jenre" %}
{% endblock %}

{% block body %}
    <ul class="nav nav-pills justify-content-center">
        {% for jen_object in jenre_list %}
            <li class="nav-item">
                <a class="nav-link {% if  object.pk == jen_object.pk %}active{% endif %}"
                   href="{% url 'book-jenre-detail' jen_object.pk %}">{{ jen_object.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="container">
        <h1>{{ object.name }}</h1>
        <p>{{ object.description }}</p>
        {% for book in object.book_set.all %}

            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">

                        {% if book.image_field %}
                            <img src="{{ book.image_field.url }}" class="card-img"
                                 style="max-width:100px; max-height:150px;" alt="{{ book.name }}">
                        {% else %}
                            <img src="{% static 'images/nophoto.png' %}" class="card-img"
                                 style="max-width:100px; max-height:150px;" alt="Нет фото">
                        {% endif %}

                    </div>
                    <div class="col clearfix">
                        <div>
                            <h4 class="card-header">{{ book.description }}</h4>
                        </div>
                        <div class="card-body">
                            {% if book.is_active %}
                                <p class="card-text font-weight-bold">Цена: {{ book.price }} руб.</p>
                            {% else %}
                                <p class="card-text">Скоро в продаже</p>
                            {% endif %}
                        </div>


                        <div class="btn-group float-right">
                            <a href="{{ book.get_detail_customer_url }}?type=jenre"
                               class="btn btn-outline-secondary"><i
                                    class="fas fa-eye"></i></a>
                            {% if not perms.orderapp.manager %}
                                <a {% if book.is_active %}href="{% url 'add_book_to_cart' book.pk %}?type=jenre"
                                   class="btn btn-outline-secondary"
                                   {% else %}
                                   tabindex="-1" href="" class="btn btn-outline-secondary disabled"
                                   aria-disabled="true"
                                   {% endif %}
                                ><i class="fas fa-cart-plus"></i></a>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}