{% extends 'base_main.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Добавить в корзину
{% endblock %}
{% block navbar %}
    {% include 'navbar.html' with active="catalog" %}
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{{ url }}" class="btn btn-info">Назад</a>
            <button class="btn btn-success">Добавить</button>
            <button class="btn btn-success" name="add-and-cart">Добавить и оформить заказ</button>

        </form>
    </div>
{% endblock %}