{% extends 'dimension_list.html' %}

{% block title %}
    Авторы
{% endblock %}
{# {% block create_ankor%}{% url 'author_create' %}{% endblock %} #}

{% block list_header %}
    <th>Имя</th>
    <th>Описание</th>
    <th>Биография</th>
{% endblock %}

{% block list_element %}
    <td>{{ object.name }}</td>
    <td>{{  object.description }}</td>
    <td>{{ object.biography }}</td>
{% endblock %}

{% block header %}
        <H1>Авторы</H1>
{% endblock %}
{% comment %}
{% block  url_view%}{% url 'author_detail' object.pk%}{% endblock %}
{% block  url_edit%}{% url 'author_update' object.pk%}{% endblock %}
{% block  url_delete%}{% url 'author_delete' object.pk%}{% endblock %}
{% endcomment %}