{% extends 'dimension_detail.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load paginator_page %}
{% block title %}
    Пользователь
{% endblock %}
{% block navbar %}
    {% include 'navbar.html' with search_tag="search" active="administration" %}
{% endblock %}
{% block header %}
    <H1>Пользователь {{ object.username }}</H1>
{% endblock %}
{% block dimension %}
    <div class="clearfix my-2">
        <div class="float-left px-3">
            <img src="
                            {% if object.extended.avatar %}
                            {{ object.extended.avatar.url }}
                            {% else %}
                                {% static 'images/no_avatar.png' %}
                            {% endif %}">
        </div>
        <div class="float-left ml-3">
            <p><b>Логин:</b> {{ object.username }}</p>
            <p><b>E-mail:</b> {{ object.email }}</p>
            <p><b>Имя:</b> {{ object.first_name }}</p>
            <p><b>Фамилия:</b> {{ object.last_name }}</p>
            <p><b>Телефон:</b> {{ object.extended.phone }}</p>
        </div>
    </div>
    <div>
        <h3>Домашний адрес:</h3>
        <p><b>Страна:</b> {{ object.extended.home_country }}</p>
        <p><b>Город:</b> {{ object.extended.home_city }}</p>
        <p><b>Индекс:</b> {{ object.extended.home_index }}</p>
        <p><b>Адрес1:</b> {{ object.extended.home_adress1 }}</p>
        <p><b>Адрес2:</b> {{ object.extended.home_adress2 }}</p>
    </div>
    {% if object.extended.dop_info %}
        <p><b>Дополнительная информация:</b><br> {{ object.extended.dop_info }}</p>
    {% endif %}
{% endblock %}

{% block list_ankor %}{% url 'auth:manager_user_list' %}{% endblock %}


{% block update_url %}{% url 'auth:manager_user_update' object.pk %}{% endblock %}

{% block delete %}
{% endblock %}