{% extends 'orderapp/customer_order_update.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% if cart.user == view.request.user %}{{ object }}{% endif %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

    {% block main_head %}{% if cart.user == view.request.user %}Комментарий к "{{ object }}"{% endif %}{% endblock %}

    {% block order_block %}
        {% if cart.user == view.request.user %}
            <form method="post" class="border border-primary rounded p-3 mb-1 text-center">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-danger">Сохранить</button>
                <a href="{{ view.get_success_url }}" class="btn btn-secondary">Отменить</a>
                </div>
            </form>
        {% endif %}
    {% endblock %}

