{% extends 'orderapp/customer_order_update.html' %}

{% block title %}
    {% if cart.user == view.request.user %}Отменить "{{ object }}"{% endif %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block main_head %}{% if cart.user == view.request.user %}Отменить "{{ object }}"{% endif %}{% endblock %}

{% block order_block %}
    {% if cart.user == view.request.user %}
        <form method="post" class="border border-primary rounded p-3 mb-1 text-center">
            {% csrf_token %}
            {{ form }}
            <div class="d-inline-block">
                <h2>Отменить заказ?</h2>
                <button class="btn btn-danger">Да</button>
                <a href="{{ view.get_success_url }}" class="btn btn-secondary">Нет</a>
            </div>
        </form>
    {% endif %}
{% endblock %}

