{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Корзина
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' with active="cart" %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% block main_head %}Корзина{% endblock %}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Стоимость</th>
                {% block head_func %}
                    <th>Действия</th>
                {% endblock %}
            </tr>
            </thead>
            <tbody>
            {% for obj in cart.books.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ obj.book.description }}</td>
                    <td>{{ obj.quantity }}</td>
                    <td>{{ obj.book.price }}</td>
                    <td>{{ obj.cost }}</td>
                    {% block func %}
                        <td>
                            <a href="{% url 'book_in_cart_delete' obj.pk %}"><i
                                    class="fas fa-trash text-danger"></i></a>
                            <a href="{% url 'add_book_to_cart' obj.book.pk %}"><i class="fas fa-edit"></i></a>
                        </td>
                    {% endblock %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">Итого:</td>
                <td>{{ cart.total_quantity }}</td>
                <td></td>
                <td>{{ cart.total_cost }}</td>
                {% block tail_func %}
                    <td></td>
                {% endblock %}
            </tr>
            </tfoot>
        </table>
        {% block order_block %}
            {% if cart.books.all %}
                <form action="{% url 'order_create' %}" method="post" class="border border-primary rounded p-3 mb-1">
                    <h2 class="text-center">Оформить заказ</h2>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success">Заказать</button>
                </form>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}