{% extends 'dimension_detail.html' %}
{% load static %}

{% block title %}
    Заказ
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' with active="order" %}
{% endblock %}

{% block page_name %}
    Заказ
{% endblock %}

{% block list_ankor %}{{ object.get_active_list_url }}{% endblock %}

{% block dimension %}
    <h3>{{ object }}</h3>
    <p><strong>Имя покупателя:</strong> {{ object.name }}</p>
    <p><strong>Логин покупателя:</strong> {{ object.cart.user|default_if_none:"anonymous user" }}</p>
    <p><strong>Телефон:</strong> {{ object.phone }}</p>
    {% if object.email %}
        <p><strong>Почта:</strong> {{ object.email }}</p>
    {% endif %}
    <p><strong>Адрес доставки:</strong> {{ object.delivery_adress }}</p>
    <p><strong>Комментарий покупателя:</strong> {{ object.comments }}</p>
    <p><strong>Статус заказа:</strong> {{ object.status.name }}</p>
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object.cart.books.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ obj.book.description }}</td>
                <td>{{ obj.quantity }}</td>
                <td>{{ obj.book.price }}</td>
                <td>{{ obj.cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"><strong>Итого:</strong></td>
            <td>{{ object.cart.total_quantity }}</td>
            <td></td>
            <td>{{ object.cart.total_cost }}</td>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block update %}
    <a href="{% url 'order_change_status' object.pk %}" class="btn btn-success">Изменить статус</a>
{% endblock %}

{% block delete %}
{% endblock %}

{% block comments %}
    {% for comment in comments %}

        <div class="clearfix border border-secondary rounded py-1 mt-1">
            <div class="float-left px-3">
                {% if comment.user.extended.avatar %}
                    <img src="{{ comment.user.extended.avatar.url }}" style="width: 5rem">
                {% else %}
                    <img src="{% static 'images/no_avatar.png' %}" style="width: 5rem">
                {% endif %}
            </div>
            <div class="px-3">
                <strong>{{ comment.user.username }}</strong>
                <p>{{ comment.comment_text }}</p>
            </div>
            <div>
                {{ comment.date_create|date:"j.m.Y H:i" }}
            </div>

        </div>
    {% endfor %}

{% endblock %}

{% block comment_link %}
    <a href="{% url 'comments:create' 'order' object.pk %}" class="btn btn-info">Добавить комментарий</a>
{% endblock %}