{% extends 'dimension_list.html' %}

{% block title %}
    Книги
{% endblock %}

{% block header %}
        <H1>Книги</H1>
{% endblock %}

{% block searchform %}
{% endblock %}
{% block create_ankor %}{% url 'book_create' %}{% endblock %}

{% block list_header %}
   <th>Наименование</th>
    <th>Цена</th>
{% endblock %}

{% block list_element %}
    <td>{{ object.description }}</td>
    <td>{{  object.price }}</td>
{% endblock %}


{% block  url_view%}{% url 'book_detail' object.pk%}{% endblock %}
{% block  url_edit%}{% url 'book_update' object.pk%}{% endblock %}
{% block  url_delete%}{% url 'book_delete' object.pk%}{% endblock %}

{% block navbar %}
        {% include 'navbar.html' with search_tag="search" active="book"%}
    {% endblock %}