<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Title
    {% endblock %}</title>
{% load static %}
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
</head>
<body>
    {% include 'menu.html' %}
    {% block header %}
        <H1>Справочники</H1>
    {% endblock %}
    {% block searchform %}
        <form action="" method="get">
            {% block searchform_name %}
                {{ form }}
            {% endblock %}
            <button type="submit">Поиск</button>
        </form>
        <br>
    {% endblock %}

    {% block create %}
        <a href="{% block create_ankor %}#{% endblock %}" class="button">Создать</a>
    {% endblock %}

    <table border="1">
        {% block dimension_list %}
            <tr>
                {% block list_header %}
                    <th>Наименование</th>
                    <th>Описание</th>
                {% endblock %}
                <th>Действия</th>
            </tr>
            {% for object in object_list %}
                <tr>
                {% block list_element %}
                    <td>{{ object.name }}</td>
                    <td>{{  object.description }}</td>
                {% endblock %}
                    <td>
                        <a href="{% block  url_view%}#{% endblock %}" title="Посмотреть">View</a>
                        <a href="{% block  url_edit%}#{% endblock %}" title="Править">Edit</a>
                        <a href="{% block  url_delete%}#{% endblock %}" title="Удалить">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Пред.</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">След.</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</body>
</html>