<nav>
    <ul>
        <li><a href="{% url 'author_list' %}">Авторы</a></li>
        <li><a href="{% url 'serie_list' %}">Серии</a></li>
        <li><a href="{% url 'jenre_list' %}">Жанры</a></li>
        <li><a href="{% url 'publishing_house_list' %}">Издательства</a></li>
        <li><a href="{% url 'binding_list' %}">Переплеты</a></li>
        <li><a href="{% url 'format_book_list' %}">Форматы</a></li>
        <li><a href="{% url 'age_restriction_list' %}">Возрастные ограничения</a></li>
        <li><a href="{% url 'book_list' %}">Книги</a> </li>
    </ul>
</nav>

