    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="{% url 'author_list' %}">Авторы</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'serie_list' %}">Серии</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'jenre_list' %}">Жанры</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'publishing_house_list' %}">Издательства</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'binding_list' %}">Переплеты</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'format_book_list' %}">Форматы</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'age_restriction_list' %}">Возрастные ограничения</a></li>
    </ul>

